.link {
    text-decoration: none;
    color: #F2F2F3;
    
}

.images {
    padding: 0;
    width: 300px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.image:last-child {
   background-color: black;
}
.order {
    background-color: #1C1C21;
    border-radius: 40px;
    padding: 24px 24px;
    margin-bottom: 16px;
    position: relative;
}
.order__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order__number {
    font-weight: 400;   
    font-size: 28px;
    line-height: 24px;
}
.image {
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 50px;
    background-color: #131316;
    /* border: 2px solid #801AB2; */
    justify-content: center;
    display: flex;
    
}
.image__background {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background: linear-gradient(#801AB2 , #4C4CFF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-right: -24px;
}


.img {
   width: 170%;
   align-self: center;
   justify-self: center;
   position: relative;
}
.image__background:nth-child(1) {
    z-index: 7;
}
.image__background:nth-child(2) {
    z-index: 6;
}
.image__background:nth-child(3) {
    z-index: 5;
}
.image__background:nth-child(4) {
    z-index: 4;
}
.image__background:nth-child(5) {
    z-index: 3;
}
.image__background:nth-child(6) {
    z-index: 2;

}
.img__last {
    opacity: 0.3;
}
.count__visible {
    position: absolute;
    visibility: visible;
    display: flex;
    flex-direction: row;
    top: 20px;
    left: 25px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
} 

.count {
    position: absolute;
    
    visibility: hidden;
}

.total {
    
    position: absolute;
    right: 24px;
    bottom: 40px ;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;
}

