.modal {
 display: none;
}

.modal__active {
    width: 720px;
    height: max-content;
    background-color: #1C1C21;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 40px 40px 60px 40px;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}



.close__icon {
    background-image: url(/public/images/Vector\ \(Stroke\).svg);
    position: absolute;
    top: 63px;
    right: 43px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-color: #1c1c2100;
    border: none;
    cursor: pointer;
}